node_modules/
.env
replica_node/node_modules/
replica_node/.env
uploads/manuscripts/*
!uploads/manuscripts/.gitkeep
replica_node/uploads/manuscripts/*
!replica_node/uploads/manuscripts/.gitkeep
public/uploads/published/*
!public/uploads/published/.gitkeep
replica_node/public/uploads/published/*
!replica_node/public/uploads/published/.gitkeep
